.aiModal {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  height: 50%;
  width: 40%;
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
}
.aiModalActive {
  display: flex !important;
}

.modalBackground {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.347);
  width: 100%;
  height: 100%;
}
.active {
  display: block !important;
}
.aiTitle {
  height: 20%;
}
.assistentContainer {
  position: relative;
}
.assistentMenu {
  border: 1px solid rgb(236, 236, 236);
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 40px;
  box-sizing: border-box;
}

#dropdown {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1rem;
  height: 250px;
  border: 2px solid rgb(226, 226, 226);
  border-radius: 10px;
  top: 60px;
  overflow: auto;
  z-index: 1;
}

.dropdownActive {
  display: block !important;
}

.assistentContent {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  transition: background 250ms;
  box-sizing: border-box;
}
.assistentContent h1,
p {
  margin: 0;
}

.assistentContent:hover {
  background-color: rgb(240, 240, 240);
}

.aiResumeMenu {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  box-sizing: border-box;
}

#newChatButton {
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  background-color: inherit;
  cursor: pointer;
}

#newChatButton:hover {
  background-color: rgb(240, 240, 240);
}

.chatContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 75%;
  width: 100%;
  box-sizing: border-box;
  max-height: 75vh;
}

#messagesDiv {
  width: 65%;
  padding-top: 20px;
  box-sizing: border-box;
  max-height: 80%;
}

.assistentName {
  font-weight: bold;
  margin-bottom: 5px;
}

.assistentMessage {
  padding: 10px;
  margin: 35px 0px;
}

.userMessage {
  margin: 35px 0px;
  padding: 10px 20px;
  width: max-content;
  max-width: 60%;
  margin-left: auto;
  background-color: rgb(240, 239, 239);
  border-radius: 20px;
}

.textContainer {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.inputContainer {
  position: absolute; /* Passo 2: Defina como absoluto */
  bottom: 0; /* Alinha ao fundo do .textContainer */
  left: 50%; /* Alinha à esquerda do .textContainer */
  right: 50%; /* Alinha à direita do .textContainer */
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 60px;
  width: 70%;
  padding-right: 5px;
  border: 2px solid rgb(225, 225, 225);
  border-radius: 30px;
  background-color: white;
}

#aiTextInput {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding: 20px;
  max-height: 500px;
  box-sizing: border-box;
  resize: none;
}

#aiTextInput:focus {
  outline: none;
}

.sendButton {
  height: 50px;
  width: 50px;
  padding: 5px;
  background-color: initial;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background 200ms;
  box-sizing: border-box;
}

.sendButton:disabled {
  cursor: default;
  background-color: inherit !important;
}
.sendButton:hover {
  background-color: rgb(246, 246, 246);
}

#sendIcon {
  height: 60%;
}
