* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
textarea {
  all: unset;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  padding-right: 50px;
  box-sizing: border-box;
  word-wrap: break-word;
}
.sendMessageButtom {
  position: relative;
  width: 80%;
  margin: auto;
}

#aiSendButton {
  position: absolute;
  right: 1%;
  top: 20%;
  bottom: 20%;
}
#root,
.App {
  height: inherit;
}
.App {
  display: flex;
  flex-direction: column;
}
.chatContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.chatBox {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  max-height: 80vh;
  overflow: auto;
}
.sender {
  font-weight: bold;
}
.message {
  list-style: none;
  padding: 5px;
  display: inline-block;
  margin-bottom: 30px;
}

.message p {
  margin: 0;
  word-wrap: break-word;
}

.homeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0px 10px 0px 10px;
}
.choiceBlock {
  width: 23vw;
  height: 53vh;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.choiceImg {
  height: 70%;
}
.pomodoroCard {
  background-color: rgb(240, 154, 154);
  color: aliceblue;
}
#pomodoroClock {
  font-size: 90px;
}
#pomodoroDiv {
  display: flex;
  height: 10%;
  justify-content: space-between;
}
.pomodoroButtons {
  all: unset;
  border: 1px solid white;
  border-radius: 100px;
  padding: 10px;
  pointer-events: fill;
}

.resumeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resumeDiv {
  display: flex;
  justify-content: space-between;
}

.flashCardDiv {
  background-color: antiquewhite;
}
#AI_Title {
  font-size: 80px;
}
.AI_Div {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
