.mainContainer {
  display: flex;
  flex-grow: 1;
}

.resumeHeader {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.addButton {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.addButton:hover {
  background-color: #ececec;
}

.filterButton {
  cursor: pointer;
  min-width: 30%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #e7e7e7;
  font-weight: bold;
}

.filterButton:hover {
  background-color: #dbdbdb;
}

.activeFilterButton {
  background-color: orange !important;
  color: white;
}

.searchContainer {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  border-radius: 10px;
  background-color: #e7e7e7;
  box-sizing: border-box;
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 15%;
}
.searchBar {
  flex-grow: 1;
  border: none;
  background-color: inherit;
  padding: 12px 0px;
  box-sizing: border-box;
  border-radius: 10px;
}
.searchBar:focus {
  outline: none;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 100%;
  max-height: 90vh;

  border-right: 2px solid #d9d9d9;
  background-color: white;
  box-sizing: border-box;
}

.resumeFilters {
  padding: 0px 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #d9d9d9;
  min-height: 10vh;
  box-sizing: border-box;
}

.resumeActions {
  display: flex;
  min-height: 50px;
}

.resumeActions button {
  width: 100%;
  border: none;

  cursor: pointer;
  font-weight: bold;
}

.resumeActions button:hover {
  background-color: rgb(219, 219, 219);
}

.filterSection {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.textContainer {
  flex-grow: 1;
  display: flex;
  max-width: 70%;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.resumeSection {
  overflow-x: visible;
  overflow-y: auto;
  height: 77vh;
  max-height: 70vh;
}

.resumeList {
  list-style: none;
  margin: 0;
  padding: 0;
}
